.menu {
    background-color: orange;
    color: white;
    padding: 20px;
}
a {
    color:white;
}
main {
    width: 900px;
}
tr, td, th {
    text-align: center;
    border: 1px solid black;
    width: 900px;
}
th{
    background-color: lightgrey;
}
footer{
    text-align: center;
}
/*aside{
    float: right;
    width: 500px;}* не работает тег ASIDE? правое меню сделала через DIV*/
.width-main {
    width: 900px;
}
.right-menu{
    width: 500px;
    margin-left: 50px;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
p{
    text-align: justify;
}